/*공통*/
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/*--------------------------------------*/

/*nav-bar*/
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa; /*배경 색을 설정합니다*/
    padding: 20px 50px; /*상하 여백 20, 좌우 40*/
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
    display: flex; /*요소들을 가로로 배치합니다*/
    position: relative;
    justify-content: space-between; /*justify-content는 요소들을 가로축 방향으로 정렬하며, space-between은 요소 사이의 간격을 일정하게 만들어줍니다*/
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification {
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    left: 20px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
/*--------------------------------------*/

/*header*/
.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}
/*--------------------------------------*/

/*친구 목록*/
.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend .friend__avatar {
    width: 50px;
    border-radius: 38%;
    margin-bottom: 10px;
}

.friend__avatar.g-avatar {
    width: 70px;
}

.friend__avatar.m-avatar {
    width: 60px;
}

.friend .friend__column {
    display: flex;
    align-items: center;
}

.friend .friend__avatar {
    margin-right: 15px;
}

.friend__content .friend__name {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
    opacity: 0.6;
}

.friend__content .friend__bottom-text {
    font-size: 14px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
    font-size: 12px;
}

.friend .friend__now-listening {
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid #52e084;
    font-size: 14px;
}
.friend__now-listening span {
    opacity: 0.7;
}
.friend__now-listening i {
    font-size: 12px;
}

.friend__add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 5px;
}
