/*공통*/
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/*--------------------------------------*/

/*nav-bar*/
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa; /*배경 색을 설정합니다*/
    padding: 20px 50px; /*상하 여백 20, 좌우 40*/
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
    display: flex; /*요소들을 가로로 배치합니다*/
    position: relative;
    justify-content: space-between; /*justify-content는 요소들을 가로축 방향으로 정렬하며, space-between은 요소 사이의 간격을 일정하게 만들어줍니다*/
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification {
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    left: 20px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
/*--------------------------------------*/

/*header*/
.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}
